.item-id, .item-name, .item-start, .item-salary, .item-id-parent, .item-image, .item-buttons {
    display: inline-block;
    text-align: center;
}

.item-text {
    cursor: pointer;
    display: inline-block;
}

.arrow-top {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: orangered;
    border-bottom: 0;
    display: inline-block;
}

.arrow-bottom {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: yellowgreen;
    border-top: 0;
    display: inline-block;
}

.item-id{
    width: 10%;
}

.item-name {
    width: 25%;
}

.item-start {
    width: 15%;
}

.item-salary {
    width: 10%;
}

.item-id-parent {
    width: 10%;
}

.item-image {
    width: 15%;
}

.item-buttons {
    width: 15%;
}

.user-pagination {
    margin: 0 auto;
    padding: 1em 0;
}

.search-form {
    padding: 1rem 0;
}

.search-item-margin {
    margin: 0 2%;
}